@import url('./../controller/material/material-components-web.css');
@import url('./../styles/material-colors.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('./header.css');

body {
    margin: 0px;
    padding: 0px;
}
.mdc-top-app-bar .mdc-top-app-bar__navigation-icon {
    /* color: #fff; */
    color: var(--mdc-theme-primary, #fff);
}
.mdc-top-app-bar {
    background: var(--mdc-theme-on-primary);
    border-bottom: 1px solid var(--material-grey-200);

}
.full-width {
    width: 100%;
}