
* {
	/* Material Gris */
	--material-grey-50: rgb(250,250,250); /* #FAFAFA */
	--material-grey-100: rgb(245,245,245); /* #F5F5F5 */
	--material-grey-200: rgb(238,238,238); /* #EEEEEE */
	--material-grey-300: rgb(224,224,224); /* #E0E0E0 */
	--material-grey-400: rgb(189,189,189); /* #BDBDBD */
	--material-grey-500: rgb(158,158,158); /* #9E9E9E */
	--material-grey-600: rgb(117,117,117); /* #757575 */
	--material-grey-700: rgb(97,97,97); /* #616161 */
	--material-grey-800: rgb(66,66,66); /* #424242 */
	--material-grey-900: rgb(33,33,33); /* #212121 */

	/* Material Marrón */
	--material-brown-50: rgb(239,235,233); /* #EFEBE9 */
	--material-brown-100: rgb(215,204,200); /* #D7CCC8 */
	--material-brown-200: rgb(188,170,164); /* #BCAAA4 */
	--material-brown-300: rgb(161,136,127); /* #A1887F */
	--material-brown-400: rgb(141,110,99); /* #8D6E63 */
	--material-brown-500: rgb(121,85,72); /* #795548 */
	--material-brown-600: rgb(109,76,65); /* #6D4C41 */
	--material-brown-700: rgb(93,64,55); /* #5D4037 */
	--material-brown-800: rgb(78,52,46); /* #4E342E */
	--material-brown-900: rgb(62,39,35); /* #3E2723 */

	/* Material Rojo */
	--material-red-50: rgb(255,235,238); /* #FFEBEE */
	--material-red-100: rgb(255,205,210); /* #FFCDD2 */
	--material-red-200: rgb(239,154,154); /* #EF9A9A */
	--material-red-300: rgb(229,115,115); /* #E57373 */
	--material-red-400: rgb(239,83,80); /* #EF5350 */
	--material-red-500: rgb(244,67,54); /* #F44336 */
	--material-red-600: rgb(229,57,53); /* #E53935 */
	--material-red-700: rgb(211,47,47); /* #D32F2F */
	--material-red-800: rgb(198,40,40); /* #C62828 */
	--material-red-900: rgb(183,28,28); /* #B71C1C */

	/* Material Anaranjado */
	--material-darkOrange-50: rgb(251,233,231); /* #FBE9E7 */
	--material-darkOrange-100: rgb(255,204,188); /* #FFCCBC */
	--material-darkOrange-200: rgb(255,171,145); /* #FFAB91 */
	--material-darkOrange-300: rgb(255,138,101); /* #FF8A65 */
	--material-darkOrange-400: rgb(255,112,67); /* #FF7043 */
	--material-darkOrange-500: rgb(255,87,34); /* #FF5722 */
	--material-darkOrange-600: rgb(244,81,30); /* #F4511E */
	--material-darkOrange-700: rgb(230,74,25); /* #E64A19 */
	--material-darkOrange-800: rgb(216,67,21); /* #D84315 */
	--material-darkOrange-900: rgb(191,54,12); /* #BF360C */

	/* Material Naranja */
	--material-orange-50: rgb(255,243,224); /* #FFF3E0 */
	--material-orange-100: rgb(255,224,178); /* #FFE0B2 */
	--material-orange-200: rgb(255,204,128); /* #FFCC80 */
	--material-orange-300: rgb(255,183,77); /* #FFB74D */
	--material-orange-400: rgb(255,167,38); /* #FFA726 */
	--material-orange-500: rgb(255,152,0); /* #FF9800 */
	--material-orange-600: rgb(251,140,0); /* #FB8C00 */
	--material-orange-700: rgb(245,124,0); /* #F57C00 */
	--material-orange-800: rgb(239,108,0); /* #EF6C00 */
	--material-orange-900: rgb(230,81,0); /* #E65100 */

	/* Material Ámbar */
	--material-amber-50: rgb(255,248,225); /* #FFF8E1 */
	--material-amber-100: rgb(255,236,179); /* #FFECB3 */
	--material-amber-200: rgb(255,224,130); /* #FFE082 */
	--material-amber-300: rgb(255,213,79); /* #FFD54F */
	--material-amber-400: rgb(255,202,40); /* #FFCA28 */
	--material-amber-500: rgb(255,193,7); /* #FFC107 */
	--material-amber-600: rgb(255,179,0); /* #FFB300 */
	--material-amber-700: rgb(255,160,0); /* #FFA000 */
	--material-amber-800: rgb(255,143,0); /* #FF8F00 */
	--material-amber-900: rgb(255,111,0); /* #FF6F00 */

	/* Material Amarillo */
	--material-yellow-50: rgb(255,253,231); /* #FFFDE7 */
	--material-yellow-100: rgb(255,249,196); /* #FFF9C4 */
	--material-yellow-200: rgb(255,245,157); /* #FFF59D */
	--material-yellow-300: rgb(255,241,118); /* #FFF176 */
	--material-yellow-400: rgb(255,238,88); /* #FFEE58 */
	--material-yellow-500: rgb(255,235,59); /* #FFEB3B */
	--material-yellow-600: rgb(253,216,53); /* #FDD835 */
	--material-yellow-700: rgb(251,192,45); /* #FBC02D */
	--material-yellow-800: rgb(249,168,37); /* #F9A825 */
	--material-yellow-900: rgb(245,127,23); /* #F57F17 */

	/* Material Lima */
	--material-lime-50: rgb(249,251,231); /* #F9FBE7 */
	--material-lime-100: rgb(240,244,195); /* #F0F4C3 */
	--material-lime-200: rgb(230,238,156); /* #E6EE9C */
	--material-lime-300: rgb(220,231,117); /* #DCE775 */
	--material-lime-400: rgb(212,225,87); /* #D4E157 */
	--material-lime-500: rgb(205,220,57); /* #CDDC39 */
	--material-lime-600: rgb(192,202,51); /* #C0CA33 */
	--material-lime-700: rgb(175,180,43); /* #AFB42B */
	--material-lime-800: rgb(158,157,36); /* #9E9D24 */
	--material-lime-900: rgb(130,119,23); /* #827717 */

	/* Material Verde claro */
	--material-lightGreen-50: rgb(241,248,233); /* #F1F8E9 */
	--material-lightGreen-100: rgb(220,237,200); /* #DCEDC8 */
	--material-lightGreen-200: rgb(197,225,165); /* #C5E1A5 */
	--material-lightGreen-300: rgb(174,213,129); /* #AED581 */
	--material-lightGreen-400: rgb(156,204,101); /* #9CCC65 */
	--material-lightGreen-500: rgb(139,195,74); /* #8BC34A */
	--material-lightGreen-600: rgb(124,179,66); /* #7CB342 */
	--material-lightGreen-700: rgb(104,159,56); /* #689F38 */
	--material-lightGreen-800: rgb(85,139,47); /* #558B2F */
	--material-lightGreen-900: rgb(51,105,30); /* #33691E */

	/* Material Verde */
	--material-green-50: rgb(232,245,233); /* #E8F5E9 */
	--material-green-100: rgb(200,230,201); /* #C8E6C9 */
	--material-green-200: rgb(165,214,167); /* #A5D6A7 */
	--material-green-300: rgb(129,199,132); /* #81C784 */
	--material-green-400: rgb(102,187,106); /* #66BB6A */
	--material-green-500: rgb(76,175,80); /* #4CAF50 */
	--material-green-600: rgb(67,160,71); /* #43A047 */
	--material-green-700: rgb(56,142,60); /* #388E3C */
	--material-green-800: rgb(46,125,50); /* #2E7D32 */
	--material-green-900: rgb(27,94,32); /* #1B5E20 */

	/* Material Esmeralda */
	--material-teal-50: rgb(224,242,241); /* #E0F2F1 */
	--material-teal-100: rgb(178,223,219); /* #B2DFDB */
	--material-teal-200: rgb(128,203,196); /* #80CBC4 */
	--material-teal-300: rgb(77,182,172); /* #4DB6AC */
	--material-teal-400: rgb(38,166,154); /* #26A69A */
	--material-teal-500: rgb(0,150,136); /* #009688 */
	--material-teal-600: rgb(0,137,123); /* #00897B */
	--material-teal-700: rgb(0,121,107); /* #00796B */
	--material-teal-800: rgb(0,105,92); /* #00695C */
	--material-teal-900: rgb(0,77,64); /* #004D40 */

	/* Material Cian */
	--material-cyan-50: rgb(224,247,250); /* #E0F7FA */
	--material-cyan-100: rgb(178,235,242); /* #B2EBF2 */
	--material-cyan-200: rgb(128,222,234); /* #80DEEA */
	--material-cyan-300: rgb(77,208,225); /* #4DD0E1 */
	--material-cyan-400: rgb(38,198,218); /* #26C6DA */
	--material-cyan-500: rgb(0,188,212); /* #00BCD4 */
	--material-cyan-600: rgb(0,172,193); /* #00ACC1 */
	--material-cyan-700: rgb(0,151,167); /* #0097A7 */
	--material-cyan-800: rgb(0,131,143); /* #00838F */
	--material-cyan-900: rgb(0,96,100); /* #006064 */

	/* Material Celeste */
	--material-lightBlue-50: rgb(225,245,254); /* #E1F5FE */
	--material-lightBlue-100: rgb(179,229,252); /* #B3E5FC */
	--material-lightBlue-200: rgb(129,212,250); /* #81D4FA */
	--material-lightBlue-300: rgb(79,195,247); /* #4FC3F7 */
	--material-lightBlue-400: rgb(41,182,246); /* #29B6F6 */
	--material-lightBlue-500: rgb(3,169,244); /* #03A9F4 */
	--material-lightBlue-600: rgb(3,155,229); /* #039BE5 */
	--material-lightBlue-700: rgb(2,136,209); /* #0288D1 */
	--material-lightBlue-800: rgb(2,119,189); /* #0277BD */
	--material-lightBlue-900: rgb(1,87,155); /* #01579B */

	/* Material Azul */
	--material-blue-50: rgb(227,242,253); /* #E3F2FD */
	--material-blue-100: rgb(187,222,251); /* #BBDEFB */
	--material-blue-200: rgb(144,202,249); /* #90CAF9 */
	--material-blue-300: rgb(100,181,246); /* #64B5F6 */
	--material-blue-400: rgb(66,165,245); /* #42A5F5 */
	--material-blue-500: rgb(33,149,243); /* #2195F3 */
	--material-blue-600: rgb(30,136,229); /* #1E88E5 */
	--material-blue-700: rgb(25,118,210); /* #1976D2 */
	--material-blue-800: rgb(21,101,192); /* #1565C0 */
	--material-blue-900: rgb(13,71,161); /* #0D47A1 */

	/* Material Índigo */
	--material-indigo-50: rgb(232,234,246); /* #E8EAF6 */
	--material-indigo-100: rgb(197,202,233); /* #C5CAE9 */
	--material-indigo-200: rgb(159,168,218); /* #9FA8DA */
	--material-indigo-300: rgb(121,134,203); /* #7986CB */
	--material-indigo-400: rgb(92,107,192); /* #5C6BC0 */
	--material-indigo-500: rgb(63,81,181); /* #3F51B5 */
	--material-indigo-600: rgb(57,73,171); /* #3949AB */
	--material-indigo-700: rgb(48,63,159); /* #303F9F */
	--material-indigo-800: rgb(40,53,147); /* #283593 */
	--material-indigo-900: rgb(26,35,126); /* #1A237E */

	/* Material Violeta */
	--material-lightPurple-50: rgb(237,231,246); /* #EDE7F6 */
	--material-lightPurple-100: rgb(209,196,233); /* #D1C4E9 */
	--material-lightPurple-200: rgb(179,157,219); /* #B39DDB */
	--material-lightPurple-300: rgb(149,117,205); /* #9575CD */
	--material-lightPurple-400: rgb(126,87,194); /* #7E57C2 */
	--material-lightPurple-500: rgb(103,58,183); /* #673AB7 */
	--material-lightPurple-600: rgb(94,53,177); /* #5E35B1 */
	--material-lightPurple-700: rgb(81,45,168); /* #512DA8 */
	--material-lightPurple-800: rgb(69,39,160); /* #4527A0 */
	--material-lightPurple-900: rgb(49,27,146); /* #311B92 */

	/* Material Púrpura */
	--material-purple-50: rgb(243,229,245); /* #F3E5F5 */
	--material-purple-100: rgb(225,190,231); /* #E1BEE7 */
	--material-purple-200: rgb(206,147,216); /* #CE93D8 */
	--material-purple-300: rgb(186,104,200); /* #BA68C8 */
	--material-purple-400: rgb(171,71,188); /* #AB47BC */
	--material-purple-500: rgb(156,39,176); /* #9C27B0 */
	--material-purple-600: rgb(142,36,170); /* #8E24AA */
	--material-purple-700: rgb(123,31,162); /* #7B1FA2 */
	--material-purple-800: rgb(106,27,154); /* #6A1B9A */
	--material-purple-900: rgb(74,20,140); /* #4A148C */

	/* Material Rosa */
	--material-pink-50: rgb(252,228,236); /* #FCE4EC */
	--material-pink-100: rgb(248,187,208); /* #F8BBD0 */
	--material-pink-200: rgb(244,143,177); /* #F48FB1 */
	--material-pink-300: rgb(240,98,146); /* #F06292 */
	--material-pink-400: rgb(236,64,122); /* #EC407A */
	--material-pink-500: rgb(233,30,99); /* #E91E63 */
	--material-pink-600: rgb(216,27,96); /* #D81B60 */
	--material-pink-700: rgb(194,24,91); /* #C2185B */
	--material-pink-800: rgb(173,20,87); /* #AD1457 */
	--material-pink-900: rgb(136,14,79); /* #880E4F */

	/* Material Gris Azulado */
	--material-darkBlue-50: rgb(236,239,241); /* #ECEFF1 */
	--material-darkBlue-100: rgb(207,216,220); /* #CFD8DC */
	--material-darkBlue-200: rgb(176,190,197); /* #B0BEC5 */
	--material-darkBlue-300: rgb(144,164,174); /* #90A4AE */
	--material-darkBlue-400: rgb(120,144,156); /* #78909C */
	--material-darkBlue-500: rgb(96,125,139); /* #607D8B */
	--material-darkBlue-600: rgb(84,110,122); /* #546E7A */
	--material-darkBlue-700: rgb(69,90,100); /* #455A64 */
	--material-darkBlue-800: rgb(55,71,79); /* #37474F */
	--material-darkBlue-900: rgb(38,50,56); /* #263238 */
	/* Material Shadows */
	--md-shadow--2dp: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	--md-shadow--3dp: 0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.2),0 1px 8px 0 rgba(0,0,0,.12);
	--md-shadow--4dp: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
	--md-shadow--6dp: 0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12),0 3px 5px -1px rgba(0,0,0,.2);
	--md-shadow--8dp: 0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12),0 5px 5px -3px rgba(0,0,0,.2);
	--md-shadow--16dp: 0 16px 24px 2px rgba(0,0,0,.14),0 6px 30px 5px rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2);
	--md-shadow--24dp: 0 9px 46px 8px rgba(0,0,0,.14),0 11px 15px -7px rgba(0,0,0,.12),0 24px 38px 3px rgba(0,0,0,.2);
	
}