html {
    min-height: 100%;
    position: relative;
}

body {
    margin: 0;
    margin-bottom: 40px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    flex-grow: 1;
    padding: 20px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    padding: 1px;
    text-align: center;
}

.transparent-bg {
    background-image: url('https://th.bing.com/th/id/OIP.46bAi9XVNMlmIGd4PZjkJgHaE7?pid=ImgDet&rs=1');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

