@import url('./../controller/material/material-components-web.css');
@import url('./../styles/material-colors.css');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('./header.css');
.material-icons, .material-symbols-outlined {
    font-variation-settings:
         'FILL' 0,
         'wght' 500,
         'GRAD' 0,
         'opsz' 24
}

body {
    margin: 0px;
    padding: 0px;
}
.mdc-top-app-bar .mdc-top-app-bar__navigation-icon {
    /* color: #fff; */
    color: var(--mdc-theme-primary, #fff);
}
.mdc-top-app-bar {
    background: var(--mdc-theme-on-primary);
    border-bottom: 1px solid var(--material-grey-200);

}
.full-width {
    width: 100%;
}