
body {
    background: var(--material-grey-50);
    box-sizing: border-box;
}
.header-aligned {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .title {
        white-space: nowrap;
        width: 100%
    }

}
div.space {
    width: 100%;
}

.account_card {
    user-select: none;
    cursor: pointer;
}

.non-displayable {
    display: none !important;
}

.account_card .mdc-layout-grid__inner {
    grid-gap: 0px !important;
}

.importe_less {
    color: #ff1744;
}

.importe_plus {
    color: #00e676;
}

.icon-container {
    width: 100px;
    height: 100px;
    background: var(--material-red-50);
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.icon-container {
    color: var(--material-red-600);
    font-size: 72px;
}

.super-icon-container {
    display: grid;
    place-items: center;
    margin-bottom: 25px;
}

.centered-text {
    text-align: center;
}

._fab {
    position: fixed;
    bottom: 16px;
    right: 16px;
}