table {
      background-color: rgba(255, 255, 255, 0.9); 
      border-collapse: collapse;
      width: 100%;
      margin-top: 10px; 
    }

table thead th {
      background-color: #2196F3; 
      color: #fff; 
}

 table tbody tr {
     border-bottom: 1px solid #ccc; 
}

table tbody tr:hover {
      background-color: #FFD180 !important; 
}