<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../res/controller/material/material-components-web.css"/>
</head>
<body>
<md-button>Hola</md-button>
<button class="mdc-button mdc-ripple-upgraded"><span class="mdc-button__ripple"></span><span
        class="mdc-button__focus-ring"></span><span class="mdc-button__label">Hola</span></button>
<script type="module" src="./test.js"></script>
</body>
</html>